[project]
name = "gen_updates_cnn"
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64"]

[pypi-dependencies]
torch = ">=2.5.1, <3"
torchvision = ">=0.20.1, <0.21"
proxystore = ">=0.8.0, <0.9"
redis = ">=5.2.1, <6"

[tasks]
clean = "rm -rf ensemble.log *.pickle *.npy libE_stats.txt *.rdb"

[dependencies]
python = "<=3.12"
libensemble = ">=1.4.3,<2"
mpi4py = ">=4.0.1,<5"

[environments]
default = []
dev = ["dev"]

[feature.dev.dependencies]
ipdb = ">=0.13.13,<0.14"
black = ">=24.10.0,<25"
